[tasks.setup]
description = "Set up a new system"
run = [
  # This sets up `sudo` password feedback.
  "echo 'Defaults        pwfeedback' | sudo EDITOR='tee -a' visudo",
  "mise run dotfiles",
]

[tasks.gui]
description = "Set up a GUI system"
run = [
  "mkdir -p ~/.icons              && cp -a ./gui/icons/. ~/.icons/",
  "mkdir -p ~/.local/share/fonts  && cp -a ./gui/fonts/. ~/.local/share/fonts/",
  "mkdir -p ~/.wallpaper          && cp -a ./gui/wallpaper/. ~/.wallpaper/",
]

[tasks.repos]
description = "Clone everything from GitHub"
run = """
gh repo list | while read -r repo _; do
  gh repo clone "$repo" "~/git/$repo"
done
"""
