{
	acme_dns cloudflare {$CF_KEY}
}

shire.network {
    reverse_proxy :3000
}

jellyfin.shire.network {
    reverse_proxy :8096
}

files.shire.network {
	reverse_proxy :6000
}

status.shire.network {
	reverse_proxy :8090
}

couchdb.shire.network {
	reverse_proxy :5984
}

actual.shire.network {
	reverse_proxy :5006
}