shire.bear-antares.ts.net {
	handle_path /jellyfin/* {
		reverse_proxy :8096
	}

	handle_path /beszel/* {
		reverse_proxy :8090
	}

	handle_path /couchdb/* {
		reverse_proxy :5984
	}

	handle_path /portainer/* {
		reverse_proxy :9443 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
		}
	}

	handle_path /filebrowser/* {
		reverse_proxy :3005
	}

	handle {
		reverse_proxy :3000
	}
}
