shire.bear-antares.ts.net {
	handle_path /jellyfin* {
		reverse_proxy :8096
	}

	handle_path /beszel* {
		reverse_proxy :8090
	}

	handle_path /couchdb* {
		reverse_proxy :5984
	}

	handle_path /files* {
		reverse_proxy :6000
	}

  # Root path for homepage 
	handle {
		reverse_proxy :3000
	}
}
