[vars]

# Remote host and root directory to sync to.
remote = 'root@shire.network'
dir = '/home/jack'

# Note - this may need to be edited on new systems.
music_root = '/run/media/jack/Crucial X8/Media/Music/'

[tasks.sync]
description = 'Sync all local config to the remote'
run = [
  'rsync -avu --delete ./homepage/ {{vars.remote}}:{{vars.dir}}/homepage/',
  'rsync -avu --delete ./immich/ {{vars.remote}}:{{vars.dir}}/immich/',
  'mise run docker',
  'mise run caddy',
]

[tasks.docker]
description = "Sync and reload Docker"
run = [
  'rsync ./docker-compose.yml {{vars.remote}}:{{vars.dir}}/docker-compose.yml',
  'ssh {{vars.remote}} "docker compose -f {{vars.dir}}/docker-compose.yml up -d"',
]

[tasks.caddy]
description = 'Sync and reload Caddy'
run = [
  'rsync ./Caddyfile {{vars.remote}}:/etc/caddy/Caddyfile',
  'ssh {{vars.remote}} "systemctl reload caddy"',
]

[tasks.music]
run = 'rsync -avu --delete "{{vars.music_root}}" "{{vars.remote}}:{{vars.dir}}/jellyfin/media/music/"'

description = "Sync music folders"
[tasks.update]
description = "Update the system and containers"
run = [
  'ssh {{vars.remote}} "sudo apt update && sudo apt upgrade -y"',
  'ssh {{vars.remote}} "docker compose -f {{vars.dir}}/docker-compose.yml pull"',
  'ssh {{vars.remote}} "docker compose -f {{vars.dir}}/docker-compose.yml up -d"',
]

[tasks.kick]
description = "Restart everything"
run = [
  'ssh {{vars.remote}} "docker compose -f {{vars.dir}}/docker-compose.yml restart"',
  'ssh {{vars.remote}} "systemctl restart caddy"',
]

[tasks.status]
description = "Run fastfetch on the remote"
run = ['ssh {{vars.remote}} "fastfetch"']
